* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    max-width: 900px;
    padding: 10px;
}

.logo {
    width: 100%;
}

.logo img {
    width: 100%;
    max-width: 900px;

}

article {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 40px;
}

footer {
    background-color: aliceblue;
    margin-top: auto;
}

.socials li a {
   color: black;
   text-decoration: none;
}

h1 {
    color: #07C800;
    margin-bottom: 30px;
}

p {
    color: #ABACAC;
    margin-bottom: 20px;
}

.giphy {
    color: #508886;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

